<!DOCTYPE html>
<html lang="{{ meta.lang | d('en') }}">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="author" content="{{ basics.name }}" />
    <meta name="description" content="{{ basics.name }} - {{ basics.label }}" />

    <title>{{ basics.name }} - {{ basics.label }}</title>

    <link rel="stylesheet" href="{{ meta.url | d() }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ meta.url | d() }}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ meta.url | d() }}/css/{{ meta.css_variant | d('main') }}.css">

</head>

<body id="index" class="home">

    <div class="wrapper">
        {% include 'includes/sidebar.html' %}
        <div class="main-wrapper">
            {% include 'includes/career-profile.html' %}
            {% include 'includes/experience.html' %}
            {% include 'includes/projects.html' %}
            {% include 'includes/skills.html' %}
        </div>
    </div>

    <script type="text/javascript" src="{{ meta.url | d() }}/js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ meta.url | d() }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ meta.url | d() }}/js/main.js"></script>

</body>
</html>
