{% if meta.download | d() %}
<section class="resume-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Télécharger</h2>
    <div class="resume-section-content">
        <ul class="list-unstyled">
            {% if 'pdf' in meta.download %}
            <li class="mb-2"><a href="{{ meta.download.pdf }}">PDF</a></li>
            {% endif %}
            {% if 'json' in meta.download %}
            <li class="mb-2"><a href="{{ meta.download.json }}">JSON</a></li>
            {% endif %}
        </ul>
    </div>
</section><!--//interests-section-->
{% endif %}
