{% if interests %}
<section class="resume-section interests-section mb-5">
    <h2 class="resume-section-title text-uppercase font-weight-bold pb-3 mb-3">Intérêts</h2>
    <div class="resume-section-content">
        {% for interest in interests %}
        <div class="resume-section font-weight-bold">{{ interest.name }}</div>
        <ul class="list-unstyled">
            {% for keyword in interest.keywords %}
            <li class="mb-1">{{ keyword }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</section><!--//interests-section-->
{% endif %}
