{% if work %}
<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Expériences</h2>
    {% for item in work %}
        <div class="item">
            <div class="meta">
                <div class="upper-row">
                    <h3 class="job-title">{{ item.position }}</h3>
                    <div class="time">{{ item.startDate }} — {{ item.endDate }}</div>
                </div><!--//upper-row-->
                <div class="company">{{ item.name }}</div>
            </div><!--//meta-->
            <div class="details">
                <ul>
                {% for highlight in item.highlights %}
                    <li>{{ highlight }}</li>
                {% endfor %}
                </ul>
            </div><!--//details-->
        </div><!--//item-->
    {% endfor %}
</section><!--//section-->
{% endif %}
