{% if skills %}
{% set skill_level = {'Beginner': 25, 'Intermediate': 50, 'Advanced': 75, 'Master': 100} %}
<section class="skills-section section">
    <h2 class="section-title"><i class="fa fa-rocket"></i>Compétences</h2>
    <div class="skillset">
        {% for skill in skills %}
            <div class="item">
                <h3 class="level-title">{{ skill.name }} : {{ skill.keywords | d([]) | join(', ') }}</h3>
                <div class="level-bar">
                    <div class="level-bar-inner" data-level="{{ skill_level[skill.level] }}%">
                    </div>
                </div><!--//level-bar-->
            </div><!--//item-->
        {% endfor %}
    </div>
</section><!--//skills-section-->
{% endif%}
